@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Bacasime+Antique&family=Bagel+Fat+One&family=Dosis:wght@200;500&family=Open+Sans:ital,wght@0,700;0,800;1,400;1,500&family=Playfair:wght@300&family=Raleway:ital,wght@0,200;1,100;1,200&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,1;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: "Ropboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.logo {
    font-size: 23px;
    color: white;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    border-bottom: 2px solid transparent;
    transition: 0.4s ease-in;

}

nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.4s ease-in;

}

/* main HERO section */



.hero-section {
    background-image: url(./img/hero_image.png);
    height: 100vh;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-section h1 {
    font-size: 72px;

}

.hero-section h3 {
    font-size: 32px;
}

/* Music sebtion */
.section-2 {
    background-color: var(--purple500);
    margin-bottom: 500px;
}

.section-3 {
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.section-4 {
    max-width: 1600px;
    margin: 0 auto;
}
.section-5{
    max-width: 1600px;
    margin: 0 auto; 
}
.footer-upper{
    max-width: 1600px;
    margin: 0 auto; 
}

.music-section {
    color: white;
    padding-top: 70px;
    max-width: 1600px;
    margin: 0 auto;
    /* display: grid;
    place-items: center;
    text-align: center; */
}

.music-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.iphone-ipad-img {
    position: relative;
    top: 400px;
    margin-top: -400px;

}

.primary-btn {
    color: white;
    width: 183px;
    height: 55px;
    background: #DC0000;
    border: none;
    transition: 0.2s ease-in-out;

}

.primary-btn:hover {
    color: gray;
    transition: 0.2s ease-in-out;

}

.about-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
    /* position: relative;
    top: 600px; */

}

.blue-btn {
    width: 133px;
    height: 50px;
    flex-shrink: 0;
    background: #37008E;
    color: white;
}

.Video {
    background-image: url(./img/V.png);
    color: white;
    height: 800px;
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
   

}
.video-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -200px;
}

.hero-section,.Video{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Gift section */

.gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 0px;
    padding: 0px 100px;
    
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Footer section */
.footer-container{
    background-color: var(--purple600);
}
.footer-upper{
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    color: white;
}
.footer-upper h3{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.footer-links h4{
    border-bottom: white;
}
.footer-lower{
background-color: var(--purple500);
color: white;
text-align: center;
padding: 10px 20px;
}